.btn {
	display: inline-block;
	margin: 1.25em 0;
	padding: .625em 1.25em;
	background: $cta-color;
	color: $light;
	font-family: $body-font-family;
	text-align: center;
	text-transform: uppercase;
	@include rounded;
	cursor: pointer;
	transition: .3s ease;

	&:hover {
		background: lighten($cta-color, 10%);
		color: $light;
		text-decoration: none;
		transition: .3s ease;
	}
}
